<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">{{site.about_me_description}}
    I work with people to transform their thoughts and sketches into simple, clear websites that are easy to use.
    I love tackling the clicking gears in the background that make a website go. 
    Life is learning; I am continually expanding my coding knowledge through courses, books, and personal projects. 
    Keep scrolling to have a peak at some of my projects and let's get in touch!
</p>
